* {
  margin: 0 auto;
}
body {
  background-color: #88aaee;
}
section {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 25px;
  height: auto;
  width: 371px;
}
section h1 {
  margin-bottom: 5px;
  color: rgba(0, 255, 255, 0.779);
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.buttonchik {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.buttonchik button {
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.405);
  border-right: 2px solid rgba(0, 0, 0, 0.405);
  background-color: #6b7cfa;
  font-size: 21px;
  font-weight: 500;
  width: 150px;
  height: 45px;
  margin: 10px 0;
}
input {
  border: 1px solid black;
  border-radius: 5px;
  height: 65px;
  width: 65px;
  margin: 2px 0px;
  color: #000000;
  background-color: #7e8aa297;
  text-align: center;
  vertical-align: middle;
  font-size: 54px;
}
